.banner {
  padding: 124.94px 0 119px;
  background-image: url(../img/bg/banner.png);
  background-size: cover;
  background-position: 25% 75%;
  overflow: hidden;

  @media screen and (max-width: 1440px) {
    background-position: center;
  }

  @media screen and (max-width: 1180px) {
    padding: 70px 0;
  }

  @media screen and (max-width: 635px) {
    padding: 32px 0 0px;
  }

  &__container {
    position: relative;
    display: flex;
    align-items: flex-start;
    padding: 59px 0px 0px;

    @media screen and (max-width: 635px) {
      flex-direction: column;
      padding: 25px 0px 0px;
    }
  }

  &__content {
    position: relative;
    z-index: 1000;
  }

  &__img {
    position: absolute;
    top: -179px;
    left: 142px;

    img {
      width: auto;
      @media screen and (max-width: 1180px) {
        width: 100%;
      }
      @media screen and (max-width: 635px) {
        width: auto;
      }
    }

    @media screen and (max-width: 1180px) {
      top: -114px;
      left: 23vw;
    }
    @media screen and (max-width: 635px) {
      position: relative;
      top: -26px;
      left: -27px;
      margin: 0 auto;
    }
  }
}

.logo {
  &__img {
    @media screen and (max-width: 635px) {
      width: 112.35px;
    }
  }
}
