.footer {
  &__container {
    padding: 33px 0 128px;

    @media screen and (max-width: 900px) {
      padding: 70px 0 70px;
    }
  }
  &__text {
    color: #c5c5c5;
    line-height: 120%;
    font-size: 13px;
    font-family: 'regular';

    @media screen and (max-width: 475px) {
      font-size: 10px;
    }
  }
}
